## Import the libraries

In [2]:
import pandas as pd

___

## CSV

CSV (**C**omma **S**eparated **V**alue) is a very old, very simple and very common "standard" for (tabular) data.

CSV is supported by a huge number of tools from spreadsheets like Excel, OpenOffice and Google Docs to complex databases to almost all programming languages. As such it is probably the most widely supported structured data format in the world.

### Read a CSV File

In [47]:
df = pd.read_csv('./Data/CSV.csv')

In [48]:
df

   id name  value
0   1    a     10
1   2    b     20

___

## JSON

JSON (**J**ava**S**cript **O**bject **N**otation) is a syntax for storing and exchanging data. JSON is text, written with JavaScript object notation. 

Since the JSON format is text only, it can easily be sent to and from a server, and used as a data format by any programming language.

### Read a JSON File

In [49]:
df = pd.read_json('./Data/JSON.json')

In [50]:
df

   id name  value
0   1    a     10
1   2    b     20

___

## Excel

### Read an Excel File

In [51]:
df = pd.read_excel('./Data/Excel.xlsx')

In [52]:
df

   id name  value
0   1    a     10
1   2    b     20