## Import the libraries

In [4]:
import pandas as pd
from pandas import DataFrame

### Create a DataFrame

In [13]:
df = DataFrame({'a': [2, 4, 6, 8, 10],'b': [1, 3, 5, 7, 9],'c': [0, 3, 6, 9, 12]});df

    a  b   c
0   2  1   0
1   4  3   3
2   6  5   6
3   8  7   9
4  10  9  12

### Iloc

Select based on integer location. Can select single or multiple

In [27]:
# First row, second column (the indexes don't count as a column)
df.iloc[0,1]

1

In [35]:
# The 3 first rows, the first column
df.iloc[0:3, 0:1]

   a
0  2
1  4
2  6

### Loc

Select based on label name of column. Can select single or multiple

In [53]:
df.loc[0:1,'a':'b']

   a  b
0  2  1
1  4  3