## Import the libraries

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## **Series**

A Series is a **one-dimensional** array-like object containing an array of data (of any NumPy data type) and an associated array of data labels, called its index. The simplest Series is formed from only an array of data:

### Series from list

In [2]:
Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

### Series from Scalar

In [3]:
Series(np.arange(5), index=range(0,5))

0    0
1    1
2    2
3    3
4    4
dtype: int64

### Series from dictionnary

In [4]:
Series({'a': 0,'b': 1,'c': 2,'d': 3})

a    0
b    1
c    2
d    3
dtype: int64

## **DataFrame**

A DataFrame is a **two-dimensional** labeled data structure with columns of potentially different types. It is similar to excel table.

### DataFrame from dictionnary of lists

In [5]:
DataFrame({'a': [2, 4, 6, 8, 10],'b': [1, 3, 5, 7, 9],'c': [0, 3, 6, 9, 12]})

    a  b   c
0   2  1   0
1   4  3   3
2   6  5   6
3   8  7   9
4  10  9  12

### DataFrame from dictionnary of Series

In [7]:
DataFrame({'a': pd.Series([2, 4, 6, 8, 10]),'b': pd.Series([1, 3, 5, 7, 9]),'c': [0, 3, 6, 9, 12]})

    a  b   c
0   2  1   0
1   4  3   3
2   6  5   6
3   8  7   9
4  10  9  12

### DataFrame from a list of dictionnaries

In [9]:
DataFrame([{'a': 1, 'b': 3, 'c': 5, 'd': 7},{'a': 2, 'b': 4, 'c': 6, 'd': 8},{'a': 0, 'b': 3, 'c': 6, 'd': 9}])

   a  b  c  d
0  1  3  5  7
1  2  4  6  8
2  0  3  6  9

### DataFrame from a Serie

In [10]:
pd.DataFrame(pd.Series([x for x in '01245'], name='a'))

   a
0  0
1  1
2  2
3  4
4  5