## Lists

Lists are mutable sequences of objects, enclosed by square brackets: []

In [30]:
list = [0, 1, 2, 3, 4];list

[0, 1, 2, 3, 4]

In [31]:
type(list)

list

### Indexing

In [32]:
list[0] # Python indexing begins at 0

0

In [33]:
list[0:2] # 0:2 will return a slice from index 0 (included) to index 2 (excluded)

[0, 1]

In [34]:
list[2:] # Select all elements after index 2 (included)

[2, 3, 4]

In [35]:
list[:2] # Select all elements before index 2 (excluded)

[0, 1]

In [36]:
list[-1] # Index '-1' return the last element

4

### Mutable

Lists are mutable, meaning we can change individual elements of a list

In [37]:
list[0] = 8; list

[8, 1, 2, 3, 4]

### Add elements

We can use the `append(element)` function which will add an element at the end of the list

In [38]:
list.append(7); list

[8, 1, 2, 3, 4, 7]

`insert(index, element)` to add an element at a given position

In [39]:
list.insert(7, 9); list

[8, 1, 2, 3, 4, 7, 9]

### Remove

`pop(index)` to remove the element at a given index

In [40]:
list.pop(6); list

[8, 1, 2, 3, 4, 7]

`remove(element)` to remove the first occurence of a given element

In [41]:
list.remove(2); list

[8, 1, 3, 4, 7]

### Operations

In [42]:
a = [0,1,2]
b = [3,4,5]

In [52]:
a + b # Concatenation

[0, 1, 2, 3, 4, 5]

In [53]:
a * 3 # Repetition

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [55]:
min(b) # Minimum values

3

In [57]:
max(a) # Maximum values

2

In [58]:
len(a) # Length

3

In [60]:
2 in a # Membership

True

___

## Sets

Sets are unordered collections of unique objects, enclosed by curly braces: { }

In [83]:
set = {0,1,2,3,4}; set

{0, 1, 2, 3, 4}

### Add elements

In [84]:
set.add(5); set

{0, 1, 2, 3, 4, 5}

### Remove

In [85]:
set.pop(); set

{1, 2, 3, 4, 5}

In [86]:
set.remove(1); set

{2, 3, 4, 5}

### Operations

In [63]:
a = {0,1,2,3}
b = {2,3,4,5}

In [64]:
a.union(b) # Union: Elements in either set

{0, 1, 2, 3, 4, 5}

In [66]:
a.intersection(b) # Intersection: Elements in both sets

{2, 3}

In [67]:
a - b # Difference

{0, 1}

___

## Dictionnaries